<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Wedding invitations</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="George & Lala Wedding invitation" />
	<meta name="keywords" content="George & Lala Wedding invitation" />
	<meta name="author" content="George Sarksian" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="scripts/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="invitations">
	<div class="fh5co-loader"></div>
	
	<div id="page">
		<!-- upper menu -->
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index.html">Wedding<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<li class="active"><a href="wishes.html">Add your wishes</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(css/images/img_bg_2.jpeg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>George &amp; Lala</h1>
							<h2>We Are Getting Married</h2>
							<div class="simply-countdown simply-countdown-one"></div>
							<p><a href="#fh5co-started" class="btn btn-default btn-sm">Save the date</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Hello!</h2>
					<h3>July 26, 2019 Yerevan, Armenia</h3>
					<p>We are inviting you to celebrate our wedding ceremony</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="css/images/groom.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>George Sarkisian</h3>
						<p>I will find you. In the farthest corner, I will find you.</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="css/images/bride2.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Lala Joulha Ian</h3>
						<p>The greatest happiness of life is the conviction that we are loved; loved for ourselves, or rather, loved in spite of ourselves.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(css/images/img_bg_3.jpeg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Special Events</span>
					<h2>Wedding Events</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1" >
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Main Ceremony in church</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>3:00 PM -</span>
										<span>4:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>July 26,</span>
										<span>2019</span>
									</div>
									<p>Ceremony will be held in St. Hovhannes Church in Yerevan.</p><br/>
									<a href="https://www.google.com/maps/place/St.+Hovhannes+Church/@40.1853623,44.5015729,17z/data=!3m1!4b1!4m5!3m4!1s0x406abd0312d525c9:0x7c037c18b1c31dcd!8m2!3d40.1853623!4d44.5037616" target="_blank">Click here for location!</a>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Wedding Party</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>6:00 PM -</span>
										<span>11:00 AM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>July 26,</span>
										<span>2019</span>
									</div>
									<p>The party will be held in Oasis by Belagio Hotel-restorant in Yerevan, where we are going to dance until our feet hurt.</p>
									<a href="https://www.google.com/maps/place/Belagio+Hotel-restorant/@40.2518837,44.5798328,17z/data=!4m5!3m4!1s0x406aa206aa9041d1:0x7d55d212799ba342!8m2!3d40.2518812!4d44.5822154?hl=en" target="_blank">Click here for location!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>We Love Each Other</span>
					<h2>Our Story</h2>
					<p>“God will bring the right person into your life at the right time. Always believe that! If they are not there, God isn't finished yet!” 
							― Shannon L. Alder </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(css/images/couple-1.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First We Meet</h3>
									<span class="date">August 15, 2008</span>
								</div>
								<div class="timeline-body">
									<p>It's when you hold eye contact for that second too long or maybe the way you laugh. It sets off a flash and our memories take a picture of who we are at that point when we first know "This is LOVE."</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(css/images/couple-2.2.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First Date</h3>
									<span class="date">Juni 01, 2009</span>
								</div>
								<div class="timeline-body">
									<p>I wish i could explain your eyes, and how the sound of your voice gives me butterflies. How your smile makes my heart skip a beat and how every time i'm with you, i feel so complete.</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(css/images/couple-1.2.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">In A Relationship</h3>
									<span class="date">August 29, 2009</span>
								</div>
								<div class="timeline-body">
									<p>I knew right away that you were it for me. There were no reservations or second thoughts. I saw you and in an instant knew in my bones, my soul had known your soul lifetimes ago.</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-testimonial">	
		<div class="container">	
			<div class="row">	
				<div class="row animate-box">	
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">	
						<span>Best Wishes</span>	
						<h2>Family and friends Wishes</h2>	
					</div>	
				</div>	
				<div class="row">	
					<div class="col-md-12 animate-box">	
						<div class="wrap-testimony">	
							<div class="owl-carousel-fullwidth">	
								<div class="item">	
									<div class="testimony-slide active text-center">	
										<figure>	
											<img src="css/images/friends&family/mirna.jpg" alt="user">	
										</figure>	
										<span>Mirna Sarkisian</span>	
										<blockquote>	
											<p>"I congratulate you both for your love and togetherness, and wish you peaceful and wonderful time ahead in life. May God bless both of you with warmth and care. Congratulations on your wedding"</p>	
										</blockquote>	
									</div>	
								</div>	
								<div class="item">	
									<div class="testimony-slide active text-center">	
										<figure>	
											<img src="css/images/friends&family/maria2.jpg" alt="user">	
										</figure>	
										<span>Maria Ishkhanian Joulhayian</span>	
										<blockquote>	
											<p>"Սիրելի թանկագիներս, լալա և սագօ ինձ համար այսօր այս տողերը գրելու մեծ ուրախութիւն մը ապրեցուցիկ սրտանց կուզեմ տեսնել ձեզի միշտ երջանիկ ձեր օջախը անմառ մնայ բազմանանք և դուք ալ այս ուրախութիւնը վայելեք շատ ուրախ եմ ձեզմով դող ձեր ճամբան ըլլայ պայծառ արևի  պես տաքուկ  աստղի պես փայլուն տերը միշտ ձեր հետ ձեզի շատ շատ կը սիրեմ"</p>	
										</blockquote>	
									</div>	
								</div>	
								<div class="item">	
									<div class="testimony-slide active text-center">	
										<figure>	
											<img src="css/images/friends&family/saro.jpg" alt="user">	
										</figure>	
										<span>Saro Fattal</span>	
										<blockquote>	
											<p>"My very best wishes to two of the most wonderful people. What you have is extraordinary, and I feel honored that I'm witnessing the unfolding of your love story. It was not an easy journey, but I'm so glad that love conquered all. I wish not only for a magical wedding day, but a life of unending love and joy. Congratulations and Cheers to a wonderful life!! "</p>	
										</blockquote>	
									</div>	
								</div>	
								<div class="item">	
									<div class="testimony-slide active text-center">	
										<figure>	
											<img src="css/images/friends&family/kapo.jpg" alt="user">	
										</figure>	
										<span>Kapo Battouk</span>	
										<blockquote>	
											<p> من كل قلبي الف مبروك للعروسين... بتمنالكون السعادة و الهنى بحياتكون.زواج مباراك"</p>	
										</blockquote>	
									</div>	
								</div>	
							</div>
							<div class="col-md-4 col-sm-4"></divclass></div>
							<div class="col-md-4 col-sm-4">
								<a class="btn btn-default btn-block active text-center" type="button" href="wishes.html">Add your wish here.</a>
							</div>
							<div class="col-md-4 col-sm-4"></div>
						</div>	
					</div>	
				</div>	
			</div>	
		</div>	
	</div>
	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(css/images/img_bg_4.jpeg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Are You Attending?</h2>
					<p>Please Fill-up the form to notify that you're attending. Thanks.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input v-model="name" type="name" class="form-control" id="name" placeholder="Name" required="required">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input v-model="email" type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="Number" class="sr-only">Number attending</label>
									<input v-model="Number" type="Number" class="form-control" id="Number" placeholder="Number attending" required="required">
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
							</div>
							<div class="col-md-4 col-sm-4">
							</div>
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-default btn-block" type="button" @click="WillAttend()">Will Attending</button>
							</div>
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-default btn-block" type="button" @click="WillNotAttend()">will not Attend</button>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	</div>
	</body>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="scripts/jquery.min.js"></script>
		<script src="scripts/jquery.easing.1.3.js"></script>
		<script src="scripts/bootstrap.min.js"></script>
		<script src="scripts/jquery.waypoints.min.js"></script>
		<script src="scripts/owl.carousel.min.js"></script>
		<script src="scripts/jquery.countTo.js"></script>
		<script src="scripts/jquery.stellar.min.js"></script>
		<script src="scripts/jquery.magnific-popup.min.js"></script>
		<script src="scripts/magnific-popup-options.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="scripts/simplyCountdown.js"></script>
		<script src="scripts/main.js"></script>
		<script src="scripts/custom.js"></script>
		<script>
			var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);
	
			// default example
			simplyCountdown('.simply-countdown-one', {
				year: d.getFullYear(),
				month: 7,
				day: 26,
				hours: 15, // Default is 0 [0-23] integer
				minutes: 0, // Default is 0 [0-59] integer
				seconds: 0, // Default is 0 [0-59] integer
			});
		</script>
		<style>
			.swal-footer {
			text-align: center;
			}
		</style>
</html>

